<%= stylesheet_link_tag    "users", :media => "all" %>

<div id="content2">

</div>

<ul id="menu">
  <li><h4>Menu</h4></li>
  <li><%= link_to 'Edit Profil'%></li>
  <li><a href="">Upload Picture</a></li>
  <li><a href="">Edit Picture</a></li>
  <li><a href="">Add Album</a></li>
  <li><a href="">Edit Album</a></li>
</ul>

