
body
{
    background:#e4ebf6;
    color: gray;
    font-family: Tahoma,Verdana,Arial;
}



p
{
    font-size: 15px;
    text-align: left;
    float: left;
    margin-top: 6px;
    margin-left: 9px;
}


#wrapper
{
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-left: -5px;
}



#header_right
{
    background-image: url("../assets/header_right.png");
    width: 100%;
    height: 49px;
    float: right;
    margin-right: -13px;
    margin-top: -8px;
}

#header_left
{
    background-image:url("../assets/header_left.png");
    position: absolute;
    width: 203px;
    height: 49px;
    float: left;
    margin-left: -3px;
    margin-top: -8px;

}

#content
{
    width: 100%;
    min-height: 200px;
    height: auto;
    margin-left: 62px;
    margin-right: 62px;
    position: absolute;

}



#login
{
    float: right;
    margin-top: 13px;
    margin-right: 78px;
}

.imgClass
{
    background-image: url("../assets/login_button.png");
    background-position:  0px 0px;
    width: 62px;
    height: 22px;
    border: 0px;
}






