// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content2
{
  background-color: #eef3f9;
  width: 62%;
  min-height: 200px;
  height: auto;
  border: 1px solid #a0a8b5;
  margin-top: 50px;
  margin-left: 205px;
  padding-left: 13px;
  float: right;
  position: absolute;
}